@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");



.card-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.service-img {
  width: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.text-header {
  font-size: 3rem;
  color: rgb(11, 165, 233);
  font-weight: 600;
  line-height: 3.5rem;
}

.menu-open {
  /* transform: translateX(-8rem) scale(.9); */
  background-color: rgba(256, 256, 256);
  padding: 2rem;
  position: absolute;
  top: 5.4rem;
  left: 0rem;
  bottom: 0;
  width: 250px; /* Set your desired width */
  height: 100vh;
  overflow: scroll;
  transition: transform 0.2s ease-in-out; /* Set the transition property */
}

.service-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  /* border-top: 0.5px solid rgb(11, 165, 233); */
  padding-block: 2rem;
  position: relative;
}

.service-view li {
  display: flex;
  gap: 0.8rem;
}
.service-view svg {
  color: rgb(11, 165, 233);
}

.service-view::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(11, 165, 233, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.service-view:first-child::after {
  display: none;
}

.text-title {
  font-size: 1rem;
  color: rgb(75, 85, 99);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  color: rgb(11, 165, 233);
  margin-bottom: 1rem;
}
.text-h4 {
  font-size: 1.5rem;
  color: rgb(75, 85, 99);
  font-weight: 600;
  line-height: 3.5rem;
}

.after::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: rgb(11, 165, 233);
  position: absolute;
  top: 20px;
  left: 0px;
  transition: width 600ms ease-in-out;
}

.after:hover::after {
  width: 100%;
}

@media (max-width: 640px) {
  .text-header {
    font-size: 2.5rem;
    color: rgb(11, 165, 233);
    font-weight: 600;
    line-height: 3.5rem;
  }
}
