@import "./base.css";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.input {
  padding: 1rem;
  outline: none;
  border-radius: 0.375rem;
}

.card-img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.text-header {
  font-size: 3rem;
  color: rgb(11, 165, 233);
  font-weight: 600;
  line-height: 3.5rem;
}

.menu-open {
  /* transform: translateX(-8rem) scale(.9); */
  background-color: rgba(256, 256, 256);

  padding: 2rem;
  position: absolute;
  top: 5.4rem;
  left: 0rem;
  bottom: 0;
  width: 250px; /* Set your desired width */
  height: 100vh;
  overflow: scroll;
  transition: transform 0.2s ease-in-out; /* Set the transition property */
}

@media (max-width: 640px) {
  .text-header {
    font-size: 2.5rem;
    color: rgb(11, 165, 233);
    font-weight: 600;
    line-height: 3.5rem;
  }
}
